<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sgm.mapper.UsersMapper">

    <insert id="insertUser" parameterType="com.sgm.pojo.User">
        insert into sys_user(user_code,user_name,user_password,user_state) values(#{userName},#{userCode},#{userPassword},#{userState})
    </insert>

    <select id="selectUserAll" resultType="com.sgm.pojo.User">
        select * from sys_user
    </select>
</mapper>